.grey-block {
    background-color: lightgrey;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.white-block {
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
}

.blue-block {
    background-color:dodgerblue;
    height: 250px;
}

.aqua-block {
    background-color:aquamarine;
    height: 250px;
}

.light-green-block {
    background-color:rgb(173, 242, 173);
    height: 250px;
}

.yellow-block {
    background-color: rgb(255, 246, 80);
    height: 250px;
}

.blue-square {
    background-color: dodgerblue;
    height: 100px;
    width: 100px;
}

.filler-text {
    font-size: large;
}